<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center mb-4">Registrarse</h2>
      <form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="p-4 border rounded shadow-sm bg-light">
        
        <div class="mb-3">
          <label for="username" class="form-label">Username:</label>
          <input id="username" formControlName="username" type="text" class="form-control" required minlength="3" />
          <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched" class="invalid-feedback">
            El username debe tener al menos 3 caracteres.
          </div>
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          <input id="email" formControlName="email" type="email" class="form-control" required />
          <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="invalid-feedback">
            Email inválido.
          </div>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Contraseña:</label>
          <input id="password" formControlName="password" type="password" class="form-control" required minlength="6" />
          <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="invalid-feedback">
            La contraseña debe tener al menos 6 caracteres.
          </div>
        </div>


        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre:</label>
          <input id="nombre" formControlName="nombre" type="text" class="form-control" required />
          <div *ngIf="registerForm.get('nombre')?.invalid && registerForm.get('nombre')?.touched" class="invalid-feedback">
            El nombre es obligatorio.
          </div>
        </div>

        <div class="mb-3">
          <label for="apellido" class="form-label">Apellido:</label>
          <input id="apellido" formControlName="apellido" type="text" class="form-control" required />
          <div *ngIf="registerForm.get('apellido')?.invalid && registerForm.get('apellido')?.touched" class="invalid-feedback">
            El apellido es obligatorio.
          </div>
        </div>

        <div class="mb-3">
          <label for="fecha_nacimiento" class="form-label">Fecha de Nacimiento:</label>
          <input id="fecha_nacimiento" formControlName="fecha_nacimiento" type="date" class="form-control" required />
          <div *ngIf="registerForm.get('fecha_nacimiento')?.invalid && registerForm.get('fecha_nacimiento')?.touched" class="invalid-feedback">
            La fecha de nacimiento es obligatoria.
          </div>
        </div>

        <div class="d-grid">
          <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Registrarse</button>
        </div>
      </form>
    </div>
  </div>
</div>
